/* | HERO SECTION */
.hero .section .text-content * {
    transform: translateY(-10px);
    opacity: 0;
    filter: blur(10px);
    transition: transform 500ms linear(0, 0.0002, 0.001, 0.0022, 0.0039, 0.0062, 0.0089, 0.012, 0.0157, 0.0199, 0.0245, 0.0296, 0.0351, 0.0411, 0.0476, 0.0545, 0.0618, 0.0696, 0.0778, 0.0865, 0.0955, 0.1049, 0.1147, 0.1249, 0.1355, 0.1464, 0.1577, 0.1693, 0.1813, 0.1935, 0.2061, 0.219, 0.2321, 0.2455, 0.2591, 0.273, 0.2871, 0.3014, 0.3159, 0.3306, 0.3455, 0.3605, 0.3757, 0.3909, 0.4063, 0.4218, 0.4373, 0.4529, 0.4686, 0.4843, 0.5, 0.5157, 0.5314, 0.5471, 0.5627, 0.5782, 0.5937, 0.6091, 0.6243, 0.6395, 0.6545, 0.6694, 0.6841, 0.6986, 0.7129, 0.727, 0.7409, 0.7545, 0.7679, 0.781, 0.7939, 0.8065, 0.8187, 0.8307, 0.8423, 0.8536, 0.8645, 0.8751, 0.8853, 0.8951, 0.9045, 0.9135, 0.9222, 0.9304, 0.9382, 0.9455, 0.9524, 0.9589, 0.9649, 0.9704, 0.9755, 0.9801, 0.9843, 0.988, 0.9911, 0.9938, 0.9961, 0.9978, 0.999, 0.9998, 1), opacity 500ms, filter 500ms;
    transition-delay: var(--d);
}

.hero .section.in-view .text-content * {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
}

/* | PHILOSOPHY SECTION */
.philosophy .section * {
    opacity: 0;
    filter: blur(10px);
    transition: all 0.5s;
}

.philosophy .section.in-view * {
    opacity: 1;
    filter: blur(0);
}

/* | OFFERS SECTION */
.services .section .offer {
    transform: translateY(-50px) scale(0.9);
    opacity: 0;
    transition: transform 750ms linear(0, 0.0464, 0.0915, 0.1353, 0.1779, 0.2193, 0.2595, 0.2986, 0.3364, 0.3731, 0.4087, 0.4432, 0.4765, 0.5088, 0.54, 0.5701, 0.5992, 0.6273, 0.6544, 0.6805, 0.7056, 0.7298, 0.753, 0.7753, 0.7967, 0.8172, 0.8368, 0.8556, 0.8735, 0.8906, 0.9069, 0.9224, 0.9371, 0.9511, 0.9643, 0.9768, 0.9885, 0.9996, 1.01, 1.0197, 1.0288, 1.0372, 1.0451, 1.0523, 1.059, 1.065, 1.0706, 1.0756, 1.08, 1.084, 1.0875, 1.0905, 1.0931, 1.0952, 1.0969, 1.0982, 1.0991, 1.0997, 1.0998, 1.0997, 1.0992, 1.0984, 1.0973, 1.096, 1.0943, 1.0925, 1.0904, 1.0881, 1.0856, 1.0829, 1.0801, 1.0771, 1.074, 1.0708, 1.0675, 1.0641, 1.0606, 1.0571, 1.0535, 1.05, 1.0464, 1.0429, 1.0393, 1.0359, 1.0325, 1.0291, 1.0259, 1.0228, 1.0198, 1.017, 1.0143, 1.0118, 1.0095, 1.0074, 1.0055, 1.0039, 1.0025, 1.0015, 1.0007, 1.0002, 1), opacity 750ms ease;
    transition-delay: var(--d);
}

.services .section.in-view .offer {
    transform: translateY(0) scale(1);
    opacity: 1;
}