<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/favicon.ico') }}" type="image/x-icon">
    <title>coderadi &bull; Aditya</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations/home.css') }}">
</head>

<body>
    {% include 'components/header.html' %}

    <main class="main column gap-100">
        <section class="hero" id="top">
            <img src="{{ url_for('static', filename='assets/images/02.png') }}" alt="coderadi" class="img">
            <section class="section column h-center gap-20">
                <span class="text title tag">Developer &amp; Entrepreneur</span>
                <h1 class="h1 highlight">Aditya</h1>

                <div class="overview column gap-20">
                    <ul class="list column gap-10">
                        <li>
                            <p class="para">
                                <span class="text title highlight">Class:</span>
                                <span class="text">Full-stack developer</span>
                            </p>
                        </li>

                        <li>
                            <p class="para">
                                <span class="text title highlight">Add-on:</span>
                                <span class="text">Entrepreneur</span>
                            </p>
                        </li>

                        <li>
                            <p class="para">
                                <span class="text title highlight">Status:</span>
                                <span class="text">Open to work</span>
                            </p>
                        </li>
                    </ul>

                    <span class="mini sec"><i>A dedicated full-stack developer &amp; entrepreneur who loves to build new
                            projects all the time.</i></span>
                </div>

                <div class="cta res-row gap-10">
                    <a href="#performance" class="link btn icon-fl">
                        <span class="material-symbols-outlined fl-icon">visibility</span>
                        <span class="text">View stats</span>
                    </a>

                    <a href="#join" class="link btn icon-ot">
                        <span class="material-symbols-outlined">chat</span>
                        <span class="text">Message</span>
                    </a>
                </div>
            </section>
        </section>
    </main>

    <script type="module" src="{{ url_for('static', filename='js/base/base.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/pages/home.js') }}"></script>
</body>

</html>