<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/favicon.ico') }}" type="image/x-icon">
    <title>coderadi &bull; Aditya</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations/home.css') }}">
</head>

<body>
    {% include 'components/header.html' %}

    <main class="main column gap-100">
        <section class="hero" id="top">
            <img src="{{ url_for('static', filename='assets/images/02.png') }}" alt="coderadi" class="img">
            <section class="section column h-center gap-20">
                <span class="text title tag">Developer &amp; Entrepreneur</span>
                <h1 class="h1 highlight">Aditya</h1>

                <div class="overview column gap-20">
                    <ul class="list column gap-10">
                        <li>
                            <p class="para">
                                <span class="text title highlight">Class:</span>
                                <span class="text">Full-stack developer</span>
                            </p>
                        </li>

                        <li>
                            <p class="para">
                                <span class="text title highlight">Add-on:</span>
                                <span class="text">Entrepreneur</span>
                            </p>
                        </li>

                        <li>
                            <p class="para">
                                <span class="text title highlight">Status:</span>
                                <span class="text">Open to work</span>
                            </p>
                        </li>
                    </ul>

                    <span class="mini sec"><i>A dedicated full-stack developer &amp; entrepreneur who loves to build new
                            projects all the time.</i></span>
                </div>

                <div class="cta res-row gap-10">
                    <a href="#performance" class="link btn icon-fl">
                        <span class="material-symbols-outlined fl-icon">visibility</span>
                        <span class="text">View stats</span>
                    </a>

                    <a href="#join" class="link btn icon-ot">
                        <span class="material-symbols-outlined fl-icon">chat</span>
                        <span class="text">Message</span>
                    </a>
                </div>
            </section>
        </section>

        <section class="performance" id="performance">
            <section class="section column gap-40">
                <div class="top column">
                    <div class="row gap-10">
                        <span class="material-symbols-outlined fl-icon">bar_chart</span>
                        <h1 class="h1">Performance Stats</h1>
                    </div>
                    <hr class="divider">
                </div>

                <div class="bottom column gap-20">
                    <div class="stats-grid gap-20">
                        <a href="#inventory" class="stat column gap-10 link">
                            <h1 class="h1">05</h1>
                            <span class="text title">Slots unlocked</span>
                        </a>

                        <div class="stat column gap-10">
                            <h1 class="h1">3+</h1>
                            <span class="text title">Years exp.</span>
                        </div>

                        <div class="stat column gap-10">
                            <h1 class="h1">10+</h1>
                            <span class="text title">Projects</span>
                        </div>

                        <div class="stat column gap-10">
                            <h1 class="material-symbols-outlined fl-icon">full_stacked_bar_chart</h1>
                            <span class="text title">Full-stack dev.</span>
                        </div>
                    </div>

                    <div class="dev-desc-bar flex gap-20">
                        <div class="bio column gap-10 h-sb dev-desc">
                            <div class="top column gap-10">
                                <div class="row gap-10">
                                    <span class="material-symbols-outlined fl-icon">account_circle</span>
                                    <span class="text title highlight">Bio</span>
                                </div>

                                <p class="para">I've specialized in high-performance web applications. Equipped with a
                                    versatile
                                    set stack and a strategic approach to problem-solving. My main mission involves
                                    complex
                                    requirements into seamless, user-centric interfaces.</p>
                            </div>

                            <div class="tags res-row gap-10">
                                <span class="tag text title">Loc: Remote</span>
                                <span class="tag text title">Server: NE-UP 272207</span>
                            </div>
                        </div>

                        <div class="levels column gap-20 dev-desc">
                            <div class="row gap-10">
                                <span class="material-symbols-outlined fl-icon">monitoring</span>
                                <span class="text title highlight">Performance</span>
                            </div>

                            <div class="level column gap-5">
                                <div class="row h-sb">
                                    <span class="text">INT (Problem solving)</span>
                                    <span class="text highlight">80/100</span>
                                </div>

                                <div class="progress-bar">
                                    <div class="progress-done" style="width: 80%; --cl: #4C8EFF;"></div>
                                </div>
                            </div>

                            <div class="level column gap-5">
                                <div class="row h-sb">
                                    <span class="text">SPD (Delivery speed)</span>
                                    <span class="text highlight">75/100</span>
                                </div>

                                <div class="progress-bar">
                                    <div class="progress-done" style="width: 75%; --cl: var(--secondary);"></div>
                                </div>
                            </div>

                            <div class="level column gap-5">
                                <div class="row h-sb">
                                    <span class="text">CRE (Creativity)</span>
                                    <span class="text highlight">90/100</span>
                                </div>

                                <div class="progress-bar">
                                    <div class="progress-done" style="width: 95%; --cl: #059669;"></div>
                                </div>
                            </div>

                            <div class="level column gap-5">
                                <div class="row h-sb">
                                    <span class="text">COM (Communication)</span>
                                    <span class="text highlight">60/100</span>
                                </div>

                                <div class="progress-bar">
                                    <div class="progress-done" style="width: 60%; --cl: #FF4D4D;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section class="inventory" id="inventory">
            <section class="section column gap-20">
                <div class="top column">
                    <div class="res-row h-sb gap-10">
                        <div class="row gap-10">
                            <span class="material-symbols-outlined fl-icon highlight">shelves</span>
                            <h1 class="h1">Inventory (skills)</h1>
                        </div>
                        <p class="mini"><span class="text title highlight mini">TOTAL SLOTS: </span> 05</p>
                    </div>
                    <hr class="divider">
                </div>

                <div class="bottom grid gap-20">
                    <div class="skill column gap-10">
                        <span class="material-symbols-outlined fl-icon">lock_open_right</span>
                        <img src="{{ url_for('static', filename='assets/icons/javascript.png') }}" alt="JavaScript"
                            class="logo">
                        <h3 class="h3">JavaScript</h3>
                        <p class="para"><span class="title highlight">Intermediate:</span> 60%</p>

                        <div class="progress-bar">
                            <div class="progress-done" style="width: 60%;"></div>
                        </div>
                    </div>

                    <div class="skill column gap-10">
                        <span class="material-symbols-outlined fl-icon">lock_open_right</span>
                        <img src="{{ url_for('static', filename='assets/icons/python.png') }}" alt="Python"
                            class="logo">
                        <h3 class="h3">Python</h3>
                        <p class="para"><span class="title highlight">Mastery:</span> 90%</p>

                        <div class="progress-bar">
                            <div class="progress-done" style="width: 90%;"></div>
                        </div>
                    </div>

                    <div class="skill column gap-10">
                        <span class="material-symbols-outlined fl-icon">lock_open_right</span>
                        <img src="{{ url_for('static', filename='assets/icons/frontend.png') }}" alt="HTML/CSS"
                            class="logo">
                        <h3 class="h3">HTML/CSS</h3>
                        <p class="para"><span class="title highlight">Pro:</span> 75%</p>

                        <div class="progress-bar">
                            <div class="progress-done" style="width: 75%;"></div>
                        </div>
                    </div>

                    <div class="skill column gap-10">
                        <span class="material-symbols-outlined fl-icon">lock_open_right</span>
                        <img src="{{ url_for('static', filename='assets/icons/flask.png') }}" alt="Flask" class="logo">
                        <h3 class="h3">Flask</h3>
                        <p class="para"><span class="title highlight">Mastery:</span> 80%</p>

                        <div class="progress-bar">
                            <div class="progress-done" style="width: 80%;"></div>
                        </div>
                    </div>

                    <div class="skill column gap-10">
                        <span class="material-symbols-outlined fl-icon">lock_open_right</span>
                        <img src="{{ url_for('static', filename='assets/icons/mysql.png') }}" alt="MySQL" class="logo">
                        <h3 class="h3">MySQL</h3>
                        <p class="para"><span class="title highlight">Intermediate:</span> 60%</p>

                        <div class="progress-bar">
                            <div class="progress-done" style="width: 60%;"></div>
                        </div>
                    </div>

                    <div class="skill column gap-10 locked">
                        <span class="material-symbols-outlined fl-icon">lock</span>
                        <img src="{{ url_for('static', filename='assets/icons/data_science.png') }}" alt="Data Science"
                            class="logo">
                        <h3 class="h3">Data Science</h3>
                        <p class="para"><span class="title highlight">Acquiring:</span> 10%</p>

                        <div class="progress-bar">
                            <div class="progress-done" style="width: 10%;"></div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section class="resources" id="resources">
            <section class="section column gap-20">
                <div class="top column">
                    <div class="row gap-10">
                        <span class="material-symbols-outlined fl-icon highlight">backpack</span>
                        <h1 class="h1">Resource packs (offers)</h1>
                    </div>
                    <hr class="divider">
                </div>

                <div class="bottom grid gap-20">

                </div>
            </section>
        </section>

        <section class="achievements" id="achievements">
            <section class="section column gap-20">
                <div class="top column">
                    <div class="res-row h-sb gap-10">
                        <div class="row gap-10">
                            <span class="material-symbols-outlined fl-icon highlight">trophy</span>
                            <h1 class="h1">Achievements</h1>
                        </div>

                        <a href="/achievements/" class="link row">
                            <span class="text title highlight">Checkout all achievements</span>
                            <span class="material-symbols-outlined highlight">chevron_right</span>
                        </a>
                    </div>

                    <hr class="divider">
                    </h1>
                </div>

                <div class="bottom column gap-20">
                    <div class="achievement row gap-20">
                        <img src="{{ url_for('static', filename='assets/previews/landing-page-01.png') }}"
                            alt="Fitness landing page" class="img">

                        <div class="details row gap-20">
                            <div class="text-content column gap-10">
                                <div class="column">
                                    <div class="row h-sb">
                                        <h2 class="h2">Fitness Landing Page</h2>
                                        <span class="material-symbols-outlined fl-icon sec">trophy</span>
                                    </div>

                                    <p class="para">This is a simple modern landing page for fitness coaches getting
                                        online.
                                    </p>
                                </div>

                                <div class="res-row gap-10 stack">
                                    <span class="text title">HTML</span>
                                    <span class="text title">CSS</span>
                                    <span class="text title">JavaScript</span>
                                    <span class="text title">Flask</span>
                                </div>
                            </div>

                            <div class="other column gap-20">
                                <div class="xp column">
                                    <h1 class="h1">+3</h1>
                                    <span class="text title">Days spent</span>
                                </div>

                                <div class="row gap-10">
                                    <a href="/achievements/landing-page-01" class="link">
                                        <span class="material-symbols-outlined">open_in_new</span>
                                    </a>
                                    <span class="material-symbols-outlined">done_all</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="achievement row gap-20">
                        <img src="{{ url_for('static', filename='assets/previews/landing-page-02.png') }}"
                            alt="Startup landing page" class="img">

                        <div class="details row gap-20">
                            <div class="text-content column gap-10">
                                <div class="column">
                                    <div class="row h-sb">
                                        <h2 class="h2">Startup Landing Page</h2>
                                        <span class="material-symbols-outlined fl-icon sec">trophy</span>
                                    </div>

                                    <p class="para">This is a simple modern landing page for startups showing their
                                        ideas.
                                    </p>
                                </div>

                                <div class="res-row gap-10 stack">
                                    <span class="text title">HTML</span>
                                    <span class="text title">CSS</span>
                                    <span class="text title">JavaScript</span>
                                    <span class="text title">Flask</span>
                                </div>
                            </div>

                            <div class="other column gap-20">
                                <div class="xp column">
                                    <h1 class="h1">+2</h1>
                                    <span class="text title">Days spent</span>
                                </div>

                                <div class="row gap-10">
                                    <a href="/achievements/landing-page-02" class="link">
                                        <span class="material-symbols-outlined">open_in_new</span>
                                    </a>
                                    <span class="material-symbols-outlined">done_all</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section class="join center" id="join">
            <section class="section column gap-20">
                <div class="head column v-center gap-10">
                    <span class="material-symbols-outlined fl-icon highlight">login</span>
                    <h1 class="h1">Join the party</h1>
                    <p class="para">Enter credentials to initiate the connection protocol.</p>
                </div>

                <form action="/contact/" method="post" class="form column gap-20">
                    <div class="form-elem row gap-10">
                        <label for="name" class="material-symbols-outlined fl-icon">person</label>
                        <input type="text" name="name" id="name" placeholder="John Doe" class="input">
                    </div>

                    <div class="form-elem row gap-10">
                        <label for="email" class="material-symbols-outlined fl-icon">alternate_email</label>
                        <input type="email" name="email" id="email" placeholder="johndoe@example.com" class="input">
                    </div>

                    <div class="column gap-10">
                        <label for="message" class="title highlight">Data payload (message)</label>
                        <textarea name="message" id="message" placeholder="Type your message here..."
                            class="input"></textarea>
                    </div>

                    <button type="submit" class="btn icon-fl h-center">
                        <span class="material-symbols-outlined fl-icon">mode_off_on</span>
                        <span class="text title">Connect to server</span>
                    </button>
                </form>
            </section>
        </section>
    </main>

    <script type="module" src="{{ url_for('static', filename='js/base/base.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/pages/home.js') }}"></script>
</body>

</html>