/* | HERO SECTION [START] */
.hero .h1 {
    font-size: 7rem;
    line-height: 7rem;
}

.hero .desc {
    padding: 5px 5px 5px 20px;
    max-width: 500px;
    border-left: 1.5px solid var(--primary)
}

.hero .bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.hero .bottom .data {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--border);
    background-color: var(--board-1);
}

.hero .bottom .data .fl-icon {
    color: var(--f);
    background: var(--b);
    padding: 10px;
    border-radius: 8px;
}
/* | HERO SECTION [END] */

/* | ACHIEVEMENTS SECTION [START] */
.achievements .achievement {
    border-radius: 20px;
    border: 2px solid var(--border);
}

.achievements .achievement .left {
    padding: 20px;
    border-radius: 10px 0 0 10px;
    background-color: var(--board-1);
    width: 30%;
}

.achievements .achievement .img {
    max-width: 350px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid var(--border);
}

.achievements .achievement .left .tag {
    background-color: var(--surface);
    padding: 5px;
    border-radius: 8px;
    border: 1px solid var(--board-2);
}

.achievements .achievement .right {
    padding: 20px;
    border-radius: 0 20px 20px 0;
    background-color: var(--surface);
    width: 70%;
    position: relative;
    z-index: 0;
}

.achievements .achievement .right .accent {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    top: 0;
    font-size: 500px;
    overflow: hidden;
    text-align: end;
    color: var(--background);
    z-index: -1;
    border-radius: 20px;
}

.achievements .achievement .right .tag {
    background-color: var(--board-2);
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid var(--primary);
}

.achievements .achievement .desc {
    border-left: 1px solid var(--primary);
    padding: 5px 5px 5px 15px;
}

.achievements .achievement .right .icon {
    padding: 10px;
    border-radius: 50px;
    background-color: var(--board-2);
    border: 1px solid var(--secondary);
    color: var(--secondary);
    height: fit-content;
}

.achievements .achievement .badges .badge {
    padding: 15px;
    border-radius: 8px;
    background-color: var(--border);
}

.achievements .achievement .badge .fl-icon {
    padding: 10px;
    background-color: var(--board-2);
    border-radius: 8px;
    color: var(--secondary);
}

.achievements .achievement .published {color: #059669;}
.achievements .achievement .development {color: #3993DD;}
.achievements .achievement .archived {color: #484D6D;}
.achievements .achievement .suspended {color: #C1292E;}

/* & RESPONSIVE VERSIONS */
@media (max-width: 768px) {
    .achievements .achievement {
        flex-direction: column;
    }

    .achievements .achievement .left {
        width: 100%;
        border-radius: 20px 20px 0 0;
    
    }
    .achievements .achievement .right {
        width: 100%;
        border-radius: 0 0 20px 20px;
    }
}

@media (max-width: 568px) {
    .achievements .achievement .right .top {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .achievements .achievement .accent {
        text-align: center !important;
        left: 0;
        width: 100% !important;
    }
}

@media (max-width: 425px) {
    .hero .h1 {
        font-size: 5rem;
        line-height: 5rem;
    }

    .achievements .achievement .accent {display: none;}
    .achievements .achievement .badge {width: 100%;}
}