/* | HEADER */
.header {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(3px);
    z-index: 10;
}

/* | HERO SECTION [START] */
.hero {
    background-image: url('/static/assets/images/01.png');
    background-size: cover;
    background-position: right;
    height: 100vh;
}

.hero .section {height: 100%;}
.hero .img {display: none;}
.hero .text-content {max-width: 500px;}

.hero .tag {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: var(--board-2);
    border: 1px solid var(--primary);
    width: fit-content;
}

.hero .h1 {
    font-size: 7rem;
    width: fit-content;
    background: linear-gradient(45deg, var(--primary), var(--secondary));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.hero .overview {
    background-color: var(--board-1);
    border-left: 2px solid var(--primary);
    padding: 20px;
    width: fit-content;
}

.hero .cta .link {padding: 10px 20px;}
.hero .cta .icon-fl {background-color: var(--text);}

.hero .cta .icon-ot {
    border-color: var(--primary);
    color: var(--primary);
}
/* | HERO SECTION [END] */

/* | PERFORMANCE SECTION [START] */
.performance .fl-icon {color: var(--primary);}

.performance .stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.performance .stats-grid .stat,
.performance .bio {
    padding: 20px;
    background-color: var(--surface);
    border-radius: 8px;
    border: 1px solid var(--border);
    text-align: center;
}
.performance .bio {text-align: start;}

.performance .stats-grid .stat.link {border-color: var(--primary);}

.performance .stat .fl-icon {font-size: var(--f4);}
/* | PERFORMANCE SECTION [END] */

/* | INVENTORY SECTION [START] */
.inventory .bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.inventory .skill {
    background-color: var(--board-2);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--primary);
    justify-content: end;
}

.inventory .skill.locked {
    background-color: var(--board-1);
    border: 2px solid var(--border);
    position: relative;
}

.inventory .skill.locked .lock {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    font-size: 40px;
}

.inventory .skill .badge {margin-left: auto;}
.inventory .skill .badge .text {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--surface);
    border: 1px solid var(--border);
}
/* | INVENTORY SECTION [END] */

/* | ACHIEVEMENTS SECTION [START] */
.achievements .achievement {
    background-color: var(--board-2);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--primary);
}

.achievements .achievement .img {
    max-width: 250px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.achievements .achievement .details,
.achievements .achievement .text-content {width: 100%;}

.achievements .achievement .stack .text {
    background-color: var(--surface);
    padding: 5px 8px;
    border-radius: 8px;
}

.achievements .achievement .other {
    padding-left: 20px;
    border-left: 2px solid var(--secondary);
    width: 210px;
}
/* | ACHIEVEMENTS SECTION [END] */

/* | JOIN SECTION [START] */
.join .section {
    background-color: var(--surface);
    border: 1px solid var(--border);
    border-radius: 15px;
    width: fit-content;
    margin: 20px;
}

.join .fl-icon.highlight {
    background-color: var(--board-2);
    padding: 15px;
    border-radius: 50px;
    border: 2px solid var(--primary);
}

.join .form-elem {
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 10px;
}

.join .form-elem input {
    padding: 5px;
    border: none;
}

/* & RESPONSIVE VERSIONS */
@media (max-width: 1024px) {
    .achievements .achievement {
        flex-direction: column;
        align-items: start;
    }
}

@media (max-width: 768px) {
    .hero {
        background-image: none;
        height: auto;
    }

    .hero .img {display: block;}
}

@media (max-width: 568px) {
    .achievements .achievement .img {max-width: 100%;}
    .achievements .achievement .details {
        flex-direction: column;
        align-items: start;
    }
}

@media (max-width: 425px) {
    .hero .h1 {font-size: 5rem;}
}