/* | HEADER */
.header {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(3px);
    z-index: 10;
}

/* | HERO SECTION [START] */
.hero {
    background-image: url('/static/assets/images/01.png');
    background-size: cover;
    background-position: right;
    height: 100vh;
}

.hero .section {height: 100%;}
.hero .img {display: none;}
.hero .text-content {max-width: 500px;}

.hero .tag {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: var(--board-2);
    border: 1px solid var(--primary);
    width: fit-content;
}

.hero .h1 {
    font-size: 7rem;
    width: fit-content;
    background: linear-gradient(45deg, var(--primary), var(--secondary));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.hero .overview {
    background-color: var(--board-1);
    border-left: 2px solid var(--primary);
    padding: 20px;
    width: fit-content;
}

.hero .cta .link {padding: 10px 20px;}
.hero .cta .icon-fl {background-color: var(--text);}

.hero .cta .icon-ot {
    border-color: var(--primary);
    color: var(--primary);
}

/* | HERO SECTION [END] */

/* & RESPONSIVE VERSIONS */
@media (max-width: 768px) {
    .hero {
        background-image: none;
        height: auto;
    }

    .hero .img {display: block;}
}

@media (max-width: 425px) {
    .hero .h1 {font-size: 5rem;}
}