/* | HEADER */
.header {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(3px);
    z-index: 10;
}

/* | HERO SECTION [START] */
.hero {
    background-image: url('/static/assets/images/01.png');
    background-size: cover;
    background-position: right;
    height: 100vh;
}

.hero .section {height: 100%;}
.hero .img {display: none;}
.hero .text-content {max-width: 500px;}

.hero .tag {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: var(--surface-light);
    border: 1px solid var(--primary);
    width: fit-content;
}

.hero .h1 {font-size: 7rem;}
/* | HERO SECTION [END] */

/* | PHILOSOPHY SECTION [START] */
.philosophy {
    background-color: var(--surface);
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}
/* | PHILOSOPHY SECTION [END] */

/* | OFFERS SECTION [START] */
.services .bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.services .offer {
    padding: 20px;
    background-color: var(--surface);
    border-radius: 8px;
}

.services .offer .material-symbols-outlined {
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--background);
    color: var(--secondary);
}
/* | OFFERS SECTION [END] */

/* | PROJECTS SECTION [START] */
.projects .bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.projects .exp .line {
    width: 2px;
    height: 35px;
    background-color: var(--border);
}

/* | CTA SECTION [START] */
.final .section {padding: 0 20px;}
.final .link {
    padding: 20px 50px;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 0 0 10px var(--primary);
}
/* | CTA SECTION [END] */

/* & RESPONSIVE VERSIONS */
@media (max-width: 768px) {
    .hero {
        background-image: none;
        height: auto;
    }

    .hero .img {display: block;}
}

@media (max-width: 425px) {
    .hero .h1 {font-size: 5rem;}
}