.glowlight {
    position: absolute;
    width: max(20vw, 250px);
    height: max(20vw, 250px);
    background: radial-gradient(circle at bottom right, var(--primary) 0%, var(--secondary) 40%, transparent 80%);
    bottom: 0;
    right: 0;
    pointer-events: none;
    filter: blur(50px);
    opacity: 0.7;
}

.section {
    height: 100vh;
    justify-content: center;
}

.large {
    font-size: 15rem;
    line-height: 15rem;
    color: var(--primary);
}

.para {text-align: center;}