.header .section {
    padding: 15px;
    background-color: transparent;
}

.header .menu {display: none;}
.header .menu .bar {
    margin: -1px;
    width: 20px;
    height: 2px;
    background-color: var(--text);
}

.header .h2,
.nav .h2 {font-family: "Inter", sans-serif;}

.nav {
    display: none;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    width: 310px;
    padding: 20px;
    background-color: #1A1A1DA0;
    backdrop-filter: blur(10px);
    height: 100vh;
    height: 100dvh;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1.5s linear(0, 0.0086, 0.0323, 0.0681, 0.1131, 0.1651, 0.222, 0.2819, 0.3433, 0.4049, 0.4657, 0.5248, 0.5814, 0.6352, 0.6856, 0.7324, 0.7755, 0.8148, 0.8503, 0.8821, 0.9103, 0.9351, 0.9566, 0.975, 0.9907, 1.0037, 1.0144, 1.023, 1.0297, 1.0347, 1.0383, 1.0406, 1.0418, 1.0421, 1.0417, 1.0406, 1.039, 1.0371, 1.0349, 1.0324, 1.0299, 1.0273, 1.0247, 1.0222, 1.0197, 1.0173, 1.0151, 1.013, 1.011, 1.0092, 1.0076, 1.0061, 1.0048, 1.0036, 1.0026, 1.0017, 1.001, 1.0003, 0.9998, 0.9993, 0.999, 0.9987, 0.9985, 0.9984, 0.9983, 0.9982, 0.9982, 0.9983, 0.9983, 0.9984, 0.9984, 0.9985, 0.9986, 0.9988, 0.9989, 0.999, 0.9991, 0.9992, 0.9993, 0.9994, 0.9995, 0.9995, 0.9996, 0.9997, 0.9997, 0.9998, 0.9999, 0.9999, 0.9999, 1, 1, 1, 1, 1, 1.0001, 1.0001, 1.0001, 1.0001, 1.0001, 1.0001, 1), opacity 0.3s ease, all 0.3s;
}

.nav.active {
    transform: translateX(0);
    opacity: 1;
}

.nav * {
    transform: translateX(-100px);
    transition: all 2s linear(0, 0.0114, 0.0427, 0.0898, 0.149, 0.2169, 0.2906, 0.3673, 0.445, 0.5216, 0.5958, 0.6663, 0.7321, 0.7926, 0.8474, 0.8962, 0.9389, 0.9758, 1.0069, 1.0325, 1.053, 1.0689, 1.0805, 1.0884, 1.093, 1.0947, 1.0941, 1.0915, 1.0873, 1.0819, 1.0756, 1.0687, 1.0614, 1.0541, 1.0468, 1.0397, 1.0329, 1.0266, 1.0208, 1.0155, 1.0107, 1.0066, 1.003, 0.9999, 0.9974, 0.9953, 0.9937, 0.9926, 0.9917, 0.9913, 0.991, 0.9911, 0.9913, 0.9916, 0.9921, 0.9927, 0.9934, 0.994, 0.9947, 0.9954, 0.9961, 0.9968, 0.9974, 0.9979, 0.9984, 0.9989, 0.9993, 0.9997, 1, 1.0002, 1.0004, 1.0006, 1.0007, 1.0008, 1.0008, 1.0008, 1.0008, 1.0008, 1.0008, 1.0008, 1.0007, 1.0006, 1.0006, 1.0005, 1.0004, 1.0004, 1.0003, 1.0003, 1.0002, 1.0002, 1.0001, 1.0001, 1, 1, 1, 1, 0.9999, 0.9999, 0.9999, 0.9999, 1);
}

.nav .close-nav {
    position: absolute;
    z-index: 20;
    border-radius: 50px;
    top: calc(50% - 22px);
    left: calc(100% - 22px);
    transition-duration: 3s;
    transition-delay: 2s;
}

.nav.active * {transform: translateX(0);}

/* & RESPONSIVE VERSIONS */
@media (max-width: 768px) {
    .header .menu {display: flex;}
    .header .list {display: none;}
}

@media (max-width: 425px) {
    .header .btn.fl {display: none;}
}