.alerts {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.alert {
    padding: 8px 15px;
    border-radius: 8px;
    background-color: var(--board-1);
    color: var(--text);
    backdrop-filter: blur(3px);
    transform: translateY(100%);
    opacity: 0;
}

.alert.show {
    transform: translateY(0);
    opacity: 1;
    transition: transform 1.8s linear(0, 0.01, 0.0376, 0.0795, 0.1325, 0.1939, 0.2611, 0.3319, 0.4042, 0.4766, 0.5475, 0.6159, 0.6807, 0.7414, 0.7973, 0.8482, 0.8939, 0.9343, 0.9696, 0.9997, 1.0251, 1.0459, 1.0624, 1.0751, 1.0843, 1.0904, 1.0938, 1.0948, 1.0938, 1.0911, 1.0871, 1.0821, 1.0762, 1.0698, 1.0631, 1.0563, 1.0494, 1.0427, 1.0362, 1.0301, 1.0243, 1.0191, 1.0142, 1.0099, 1.0061, 1.0028, 0.9999, 0.9976, 0.9956, 0.994, 0.9928, 0.992, 0.9914, 0.9911, 0.991, 0.9911, 0.9914, 0.9918, 0.9922, 0.9928, 0.9934, 0.994, 0.9947, 0.9953, 0.996, 0.9966, 0.9972, 0.9977, 0.9982, 0.9987, 0.9991, 0.9994, 0.9997, 1, 1.0002, 1.0004, 1.0006, 1.0007, 1.0008, 1.0008, 1.0008, 1.0009, 1.0008, 1.0008, 1.0008, 1.0007, 1.0007, 1.0006, 1.0006, 1.0005, 1.0004, 1.0004, 1.0003, 1.0003, 1.0002, 1.0002, 1.0001, 1.0001, 1.0001, 1, 1), opacity 0.3s;
}

.alert .fl-icon {color: var(--primary);}