<link rel="stylesheet" href="{{ url_for('static', filename='css/components/msg.css') }}">

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class="alerts column gap-10">
    {% for category, message in messages %}
    <li class="alert row gap-10">
        <span class="material-symbols-outlined fl-icon">{{ category }}</span>
        <span class="text">{{ message }}</span>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<script src="{{ url_for('static', filename='js/components/msg.js') }}"></script>